# Nutrition in Germany from 1961-2013

1. Import packages, load csv file, explore csv file

In [1]:
import pandas as pd
import numpy as np

Ger_food = pd.read_csv('GER_FAOSTAT_food_consumption.csv')

In [2]:
Ger_food

,Domain Code,Domain,Country Code,Country,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,Food Balance Sheets,79,Germany,664,Food supply (kcal/capita/day),2901,Grand Total,1961,1961,kcal/capita/day,2855,Fc,Calculated data
1,FBS,Food Balance Sheets,79,Germany,664,Food supply (kcal/capita/day),2909,Sugar & Sweeteners,1961,1961,kcal/capita/day,336,Fc,Calculated data
2,FBS,Food Balance Sheets,79,Germany,664,Food supply (kcal/capita/day),2914,Vegetable Oils,1961,1961,kcal/capita/day,252,Fc,Calculated data
3,FBS,Food Balance Sheets,79,Germany,664,Food supply (kcal/capita/day),2918,Vegetables,1961,1961,kcal/capita/day,31,Fc,Calculated data
4,FBS,Food Balance Sheets,79,Germany,664,Food supply (kcal/capita/day),2919,Fruits - Excluding Wine,1961,1961,kcal/capita/day,108,Fc,Calculated data
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
578,FBS,Food Balance Sheets,79,Germany,664,Food supply (kcal/capita/day),2941,Animal Products,2013,2013,kcal/capita/day,1044,Fc,Calculated data
579,FBS,Food Balance Sheets,79,Germany,664,Food supply (kcal/capita/day),2943,Meat,2013,2013,kcal/capita/day,353,Fc,Calculated data
580,FBS,Food Balance Sheets,79,Germany,664,Food supply (kcal/capita/day),2946,Animal fats,2013,2013,kcal/capita/day,273,Fc,Calculated data
581,FBS,Food Balance Sheets,79,Germany,664,Food supply (kcal/capita/day),2948,Milk - Excluding Butter,2013,2013,kcal/capita/day,331,Fc,Calculated data
582,FBS,Food Balance Sheets,79,Germany,664,Food supply (kcal/capita/day),2960,"Fish, Seafood",2013,2013,kcal/capita/day,37,Fc,Calculated data

2. Drop columns which are not needed for visualisation

In [3]:
Ger_food = Ger_food.drop(['Domain Code', 'Domain', 'Country Code', 'Country', 'Element Code', 'Element', 'Item Code', 'Year Code', 'Flag', 'Flag Description'], axis=1)

In [4]:
Ger_food

                        Item  Year             Unit  Value
0                Grand Total  1961  kcal/capita/day   2855
1         Sugar & Sweeteners  1961  kcal/capita/day    336
2             Vegetable Oils  1961  kcal/capita/day    252
3                 Vegetables  1961  kcal/capita/day     31
4    Fruits - Excluding Wine  1961  kcal/capita/day    108
..                       ...   ...              ...    ...
578          Animal Products  2013  kcal/capita/day   1044
579                     Meat  2013  kcal/capita/day    353
580              Animal fats  2013  kcal/capita/day    273
581  Milk - Excluding Butter  2013  kcal/capita/day    331
582            Fish, Seafood  2013  kcal/capita/day     37

[583 rows x 4 columns]

3. Look at unique values in 'Items' column and transform them to columns to only have one year per row

In [5]:
Ger_food.Item.unique()

array(['Grand Total', 'Sugar & Sweeteners', 'Vegetable Oils',
       'Vegetables', 'Fruits - Excluding Wine', 'Alcoholic Beverages',
       'Animal Products', 'Meat', 'Animal fats',
       'Milk - Excluding Butter', 'Fish, Seafood'], dtype=object)

In [6]:
Ger_food.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 4 columns):
Item     583 non-null object
Year     583 non-null int64
Unit     583 non-null object
Value    583 non-null int64
dtypes: int64(2), object(2)
memory usage: 18.3+ KB

In [7]:
Ger_food_clean = Ger_food.pivot(index='Year', columns='Item', values='Value').rename(columns={"Fruits - Excluding Wine": "Fruits", "Milk - Excluding Butter": "Milk", "Grand Total": "Total kcal Consumption"})

In [8]:
Ger_food_clean

Item,Alcoholic Beverages,Animal Products,Animal fats,"Fish, Seafood",Fruits,Total kcal Consumption,Meat,Milk,Sugar & Sweeteners,Vegetable Oils,Vegetables
Year,,,,,,,,,,,
1961,162,923,346,22,108,2855,262,232,336,252,31
1962,175,932,352,23,120,2915,262,236,333,270,32
1963,187,940,357,24,125,2899,261,239,338,260,36
1964,203,943,356,24,111,2983,270,231,351,270,33
1965,208,948,354,24,116,3012,276,233,338,280,32
1966,211,945,353,23,126,3012,279,226,353,269,37
1967,212,966,359,23,129,3004,286,233,343,272,36
1968,222,990,366,23,146,3062,303,231,365,272,34
1969,235,997,364,25,135,3043,305,233,358,263,36
1970,255,1028,370,24,132,3101,322,238,376,265,40
1971,261,1022,351,24,132,3109,338,235,383,277,39
1972,264,1059,373,25,124,3143,352,233,390,282,41
1973,280,1036,353,26,136,3165,350,231,409,279,42
1974,268,1036,342,26,114,3110,366,225,403,271,42
1975,281,1046,348,27,127,3118,373,220,390,269,41
1976,292,1064,360,28,123,3190,373,224,413,293,43
1977,289,1044,342,26,117,3144,377,219,391,292,45
1978,285,1100,370,25,128,3258,398,225,413,283,46
1979,292,1119,377,26,127,3280,404,233,420,279,47
1980,290,1107,337,28,126,3278,419,241,418,288,46
1981,300,1098,330,27,104,3273,419,240,424,304,49
1982,316,1124,355,26,137,3337,413,246,429,290,48
1983,306,1184,396,27,119,3378,408,270,424,285,47
1984,292,1187,395,26,129,3391,409,276,406,277,52
1985,287,1191,387,25,127,3423,418,279,423,276,50
1986,298,1141,341,27,140,3406,416,276,436,282,51
1987,293,1138,328,25,132,3382,425,282,421,282,52
1988,294,1130,315,26,146,3404,424,288,427,294,54
1989,302,1133,338,29,139,3403,407,285,410,301,54
1990,285,1129,341,30,143,3261,409,278,343,315,53
1991,291,1074,304,25,121,3323,387,286,426,370,55
1992,292,1104,331,24,139,3392,400,280,446,374,58
1993,256,1018,312,22,106,3202,369,256,413,376,51
1994,251,1033,309,23,110,3213,370,270,392,376,55
1995,252,1028,320,27,96,3249,353,269,430,394,56
1996,252,1046,315,37,117,3297,367,265,391,432,61
1997,252,1024,307,39,100,3176,353,264,411,436,59
1998,254,1044,311,42,99,3285,375,256,397,416,60
1999,260,1035,314,36,101,3279,357,268,402,398,63
2000,253,1012,298,37,138,3336,357,261,409,435,63
2001,250,1029,302,40,105,3363,347,283,445,388,67
2002,249,1048,310,38,112,3427,345,299,440,390,66
2003,231,1063,312,40,116,3390,350,307,469,392,64
2004,238,1037,289,39,110,3411,347,309,478,414,66
2005,247,1047,301,40,110,3450,342,313,496,404,62
2006,264,1045,290,41,109,3466,345,315,469,426,63
2007,259,1084,297,41,106,3527,363,330,447,438,63
2008,249,1061,292,42,104,3517,356,318,481,447,64
2009,255,1074,284,39,104,3515,358,341,466,427,66
2010,232,1079,292,39,100,3504,365,332,485,424,65
2011,237,1090,298,40,109,3538,365,335,473,417,68
2012,243,1061,287,39,108,3501,357,328,461,443,70
2013,255,1044,273,37,111,3499,353,331,469,443,68

4. Change order of columns to first display general information, like 'Total kcal consumption' and 'Animal Products'

In [9]:
cols = list(Ger_food_clean.columns.values)
cols

['Alcoholic Beverages',
 'Animal Products',
 'Animal fats',
 'Fish, Seafood',
 'Fruits',
 'Total kcal Consumption',
 'Meat',
 'Milk',
 'Sugar & Sweeteners',
 'Vegetable Oils',
 'Vegetables']

In [10]:
Ger_food_clean = Ger_food_clean[['Total kcal Consumption','Animal Products','Alcoholic Beverages','Animal fats','Fish, Seafood','Fruits','Meat','Milk','Sugar & Sweeteners','Vegetable Oils','Vegetables']]
Ger_food_clean

Item,Total kcal Consumption,Animal Products,Alcoholic Beverages,Animal fats,"Fish, Seafood",Fruits,Meat,Milk,Sugar & Sweeteners,Vegetable Oils,Vegetables
Year,,,,,,,,,,,
1961,2855,923,162,346,22,108,262,232,336,252,31
1962,2915,932,175,352,23,120,262,236,333,270,32
1963,2899,940,187,357,24,125,261,239,338,260,36
1964,2983,943,203,356,24,111,270,231,351,270,33
1965,3012,948,208,354,24,116,276,233,338,280,32
1966,3012,945,211,353,23,126,279,226,353,269,37
1967,3004,966,212,359,23,129,286,233,343,272,36
1968,3062,990,222,366,23,146,303,231,365,272,34
1969,3043,997,235,364,25,135,305,233,358,263,36
1970,3101,1028,255,370,24,132,322,238,376,265,40
1971,3109,1022,261,351,24,132,338,235,383,277,39
1972,3143,1059,264,373,25,124,352,233,390,282,41
1973,3165,1036,280,353,26,136,350,231,409,279,42
1974,3110,1036,268,342,26,114,366,225,403,271,42
1975,3118,1046,281,348,27,127,373,220,390,269,41
1976,3190,1064,292,360,28,123,373,224,413,293,43
1977,3144,1044,289,342,26,117,377,219,391,292,45
1978,3258,1100,285,370,25,128,398,225,413,283,46
1979,3280,1119,292,377,26,127,404,233,420,279,47
1980,3278,1107,290,337,28,126,419,241,418,288,46
1981,3273,1098,300,330,27,104,419,240,424,304,49
1982,3337,1124,316,355,26,137,413,246,429,290,48
1983,3378,1184,306,396,27,119,408,270,424,285,47
1984,3391,1187,292,395,26,129,409,276,406,277,52
1985,3423,1191,287,387,25,127,418,279,423,276,50
1986,3406,1141,298,341,27,140,416,276,436,282,51
1987,3382,1138,293,328,25,132,425,282,421,282,52
1988,3404,1130,294,315,26,146,424,288,427,294,54
1989,3403,1133,302,338,29,139,407,285,410,301,54
1990,3261,1129,285,341,30,143,409,278,343,315,53
1991,3323,1074,291,304,25,121,387,286,426,370,55
1992,3392,1104,292,331,24,139,400,280,446,374,58
1993,3202,1018,256,312,22,106,369,256,413,376,51
1994,3213,1033,251,309,23,110,370,270,392,376,55
1995,3249,1028,252,320,27,96,353,269,430,394,56
1996,3297,1046,252,315,37,117,367,265,391,432,61
1997,3176,1024,252,307,39,100,353,264,411,436,59
1998,3285,1044,254,311,42,99,375,256,397,416,60
1999,3279,1035,260,314,36,101,357,268,402,398,63
2000,3336,1012,253,298,37,138,357,261,409,435,63
2001,3363,1029,250,302,40,105,347,283,445,388,67
2002,3427,1048,249,310,38,112,345,299,440,390,66
2003,3390,1063,231,312,40,116,350,307,469,392,64
2004,3411,1037,238,289,39,110,347,309,478,414,66
2005,3450,1047,247,301,40,110,342,313,496,404,62
2006,3466,1045,264,290,41,109,345,315,469,426,63
2007,3527,1084,259,297,41,106,363,330,447,438,63
2008,3517,1061,249,292,42,104,356,318,481,447,64
2009,3515,1074,255,284,39,104,358,341,466,427,66
2010,3504,1079,232,292,39,100,365,332,485,424,65
2011,3538,1090,237,298,40,109,365,335,473,417,68
2012,3501,1061,243,287,39,108,357,328,461,443,70
2013,3499,1044,255,273,37,111,353,331,469,443,68

In [46]:
Ger_food_clean.reset_index(level=Ger_food_clean.index.names, inplace=True)

In [48]:
Ger_food_clean.columns.value_counts()

Vegetable Oils            1
Vegetables                1
Alcoholic Beverages       1
Meat                      1
Fish, Seafood             1
Total kcal Consumption    1
Sugar & Sweeteners        1
Animal fats               1
Fruits                    1
Animal Products           1
Milk                      1
Year                      1
Name: Item, dtype: int64

# % of Overweight Population in Germany from 1975-2016

In [11]:
Ger_over = pd.read_csv('GER_overweight_1975_2016.csv')

In [12]:
Ger_over

,Unnamed: 0,2016,2016.1,2016.2,2015,2015.1,2015.2,2014,2014.1,2014.2,...,1978.2,1977,1977.1,1977.2,1976,1976.1,1976.2,1975,1975.1,1975.2
0,NaN,"Prevalence of overweight among adults, BMI &Gr...","Prevalence of overweight among adults, BMI &Gr...","Prevalence of overweight among adults, BMI &Gr...","Prevalence of overweight among adults, BMI &Gr...","Prevalence of overweight among adults, BMI &Gr...","Prevalence of overweight among adults, BMI &Gr...","Prevalence of overweight among adults, BMI &Gr...","Prevalence of overweight among adults, BMI &Gr...","Prevalence of overweight among adults, BMI &Gr...",...,"Prevalence of overweight among adults, BMI &Gr...","Prevalence of overweight among adults, BMI &Gr...","Prevalence of overweight among adults, BMI &Gr...","Prevalence of overweight among adults, BMI &Gr...","Prevalence of overweight among adults, BMI &Gr...","Prevalence of overweight among adults, BMI &Gr...","Prevalence of overweight among adults, BMI &Gr...","Prevalence of overweight among adults, BMI &Gr...","Prevalence of overweight among adults, BMI &Gr...","Prevalence of overweight among adults, BMI &Gr..."
1,NaN,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,...,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years
2,Country,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female,...,Female,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female
3,Germany,62.8 [58.7-66.7],69.7 [63.7-75.2],56.2 [50.6-62.0],62.3 [58.4-66.0],69.3 [63.7-74.4],55.8 [50.5-61.1],61.9 [58.2-65.3],68.8 [63.7-73.6],55.3 [50.4-60.4],...,39.5 [34.5-44.8],41.6 [37.5-45.8],44.4 [38.3-50.6],39.2 [33.9-44.8],41.1 [36.8-45.6],43.7 [37.2-50.2],38.9 [33.3-44.8],40.6 [36.0-45.3],43.0 [36.1-49.9],38.6 [32.7-44.9]

In [13]:
Ger_over = Ger_over.drop([Ger_over.index[0] , Ger_over.index[1]])

In [14]:
Ger_over_t = Ger_over.transpose().reset_index()


Ger_over_t = Ger_over_t.rename(columns=Ger_over_t.iloc[0])
Ger_over_t.drop(Ger_over_t.index[:1], inplace=True)
Ger_over_t

    Unnamed: 0     Country           Germany
1         2016  Both sexes  62.8 [58.7-66.7]
2       2016.1        Male  69.7 [63.7-75.2]
3       2016.2      Female  56.2 [50.6-62.0]
4         2015  Both sexes  62.3 [58.4-66.0]
5       2015.1        Male  69.3 [63.7-74.4]
..         ...         ...               ...
122     1976.1        Male  43.7 [37.2-50.2]
123     1976.2      Female  38.9 [33.3-44.8]
124       1975  Both sexes  40.6 [36.0-45.3]
125     1975.1        Male  43.0 [36.1-49.9]
126     1975.2      Female  38.6 [32.7-44.9]

[126 rows x 3 columns]

In [15]:
Ger_over_t.reset_index(drop=True)
Ger_over_t.set_index('Unnamed: 0', inplace=True)

In [16]:
Ger_over_t = Ger_over_t.rename({"Country": "Gender", "Germany": "Percentage Overweight"}, axis=1)
Ger_over_t

                Gender Percentage Overweight
Unnamed: 0
2016        Both sexes      62.8 [58.7-66.7]
2016.1            Male      69.7 [63.7-75.2]
2016.2          Female      56.2 [50.6-62.0]
2015        Both sexes      62.3 [58.4-66.0]
2015.1            Male      69.3 [63.7-74.4]
...                ...                   ...
1976.1            Male      43.7 [37.2-50.2]
1976.2          Female      38.9 [33.3-44.8]
1975        Both sexes      40.6 [36.0-45.3]
1975.1            Male      43.0 [36.1-49.9]
1975.2          Female      38.6 [32.7-44.9]

[126 rows x 2 columns]

In [17]:
B=Ger_over_t['Percentage Overweight'].str.replace(r"\[.*\]","")

In [18]:
Ger_over_t['Percentage Overweight']=B

In [19]:
Ger_over_t

                Gender Percentage Overweight
Unnamed: 0
2016        Both sexes                 62.8
2016.1            Male                 69.7
2016.2          Female                 56.2
2015        Both sexes                 62.3
2015.1            Male                 69.3
...                ...                   ...
1976.1            Male                 43.7
1976.2          Female                 38.9
1975        Both sexes                 40.6
1975.1            Male                 43.0
1975.2          Female                 38.6

[126 rows x 2 columns]

In [20]:
Ger_over_t = Ger_over_t.rename_axis('Year')
Ger_over_t

            Gender Percentage Overweight
Year
2016    Both sexes                 62.8
2016.1        Male                 69.7
2016.2      Female                 56.2
2015    Both sexes                 62.3
2015.1        Male                 69.3
...            ...                   ...
1976.1        Male                 43.7
1976.2      Female                 38.9
1975    Both sexes                 40.6
1975.1        Male                 43.0
1975.2      Female                 38.6

[126 rows x 2 columns]

In [21]:
Ger_over_t = Ger_over_t.reset_index()
Ger_over_t

       Year      Gender Percentage Overweight
0      2016  Both sexes                 62.8
1    2016.1        Male                 69.7
2    2016.2      Female                 56.2
3      2015  Both sexes                 62.3
4    2015.1        Male                 69.3
..      ...         ...                   ...
121  1976.1        Male                 43.7
122  1976.2      Female                 38.9
123    1975  Both sexes                 40.6
124  1975.1        Male                 43.0
125  1975.2      Female                 38.6

[126 rows x 3 columns]

In [22]:
Ger_over_t = Ger_over_t.pivot(index='Year', columns='Gender', values='Percentage Overweight')
Ger_over_t

Gender Both sexes Female   Male
Year
1975        40.6     NaN    NaN
1975.1        NaN    NaN  43.0
1975.2        NaN  38.6     NaN
1976        41.1     NaN    NaN
1976.1        NaN    NaN  43.7
...           ...    ...    ...
2015.1        NaN    NaN  69.3
2015.2        NaN  55.8     NaN
2016        62.8     NaN    NaN
2016.1        NaN    NaN  69.7
2016.2        NaN  56.2     NaN

[126 rows x 3 columns]

In [23]:
del Ger_over_t['Female']
del Ger_over_t['Male']

In [26]:
Ger_over_t = Ger_over_t[pd.notnull(Ger_over_t['Both sexes'])]

In [28]:
Ger_over_t = Ger_over_t.rename(columns={"Both sexes": "Percentage Overweight"})
Ger_over_t

Gender Percentage Overweight
Year
1975                   40.6
1976                   41.1
1977                   41.6
1978                   42.1
1979                   42.6
1980                   43.1
1981                   43.6
1982                   44.1
1983                   44.5
1984                   45.0
1985                   45.5
1986                   46.0
1987                   46.6
1988                   47.2
1989                   47.9
1990                   48.5
1991                   49.2
1992                   49.9
1993                   50.6
1994                   51.3
1995                   51.9
1996                   52.6
1997                   53.2
1998                   53.9
1999                   54.5
2000                   55.1
2001                   55.6
2002                   56.1
2003                   56.6
2004                   57.1
2005                   57.6
2006                   58.0
2007                   58.5
2008                   59.0
2009                   59.5
2010                   59.9
2011                   60.4
2012                   60.9
2013                   61.4
2014                   61.9
2015                   62.3
2016                   62.8

In [49]:
Ger_over_t.reset_index(level=Ger_over_t.index.names, inplace=True)

In [56]:
c = Ger_over_t['Year'].astype('int64')

In [58]:
Ger_over_t['Year'] = c

In [59]:
Ger_over_t.dtypes

Gender
Year                      int64
Percentage Overweight    object
dtype: object

# Merge 'Ger_food_clean' and 'Ger_over_t'

In [61]:
#Ger_food_clean
#Ger_over_t

Ger_food_over = pd.merge(Ger_food_clean, Ger_over_t, how='inner', on=['Year'])

In [62]:
Ger_food_over

,Year,Total kcal Consumption,Animal Products,Alcoholic Beverages,Animal fats,"Fish, Seafood",Fruits,Meat,Milk,Sugar & Sweeteners,Vegetable Oils,Vegetables,Percentage Overweight
0,1975,3118,1046,281,348,27,127,373,220,390,269,41,40.6
1,1976,3190,1064,292,360,28,123,373,224,413,293,43,41.1
2,1977,3144,1044,289,342,26,117,377,219,391,292,45,41.6
3,1978,3258,1100,285,370,25,128,398,225,413,283,46,42.1
4,1979,3280,1119,292,377,26,127,404,233,420,279,47,42.6
5,1980,3278,1107,290,337,28,126,419,241,418,288,46,43.1
6,1981,3273,1098,300,330,27,104,419,240,424,304,49,43.6
7,1982,3337,1124,316,355,26,137,413,246,429,290,48,44.1
8,1983,3378,1184,306,396,27,119,408,270,424,285,47,44.5
9,1984,3391,1187,292,395,26,129,409,276,406,277,52,45.0
10,1985,3423,1191,287,387,25,127,418,279,423,276,50,45.5
11,1986,3406,1141,298,341,27,140,416,276,436,282,51,46.0
12,1987,3382,1138,293,328,25,132,425,282,421,282,52,46.6
13,1988,3404,1130,294,315,26,146,424,288,427,294,54,47.2
14,1989,3403,1133,302,338,29,139,407,285,410,301,54,47.9
15,1990,3261,1129,285,341,30,143,409,278,343,315,53,48.5
16,1991,3323,1074,291,304,25,121,387,286,426,370,55,49.2
17,1992,3392,1104,292,331,24,139,400,280,446,374,58,49.9
18,1993,3202,1018,256,312,22,106,369,256,413,376,51,50.6
19,1994,3213,1033,251,309,23,110,370,270,392,376,55,51.3
20,1995,3249,1028,252,320,27,96,353,269,430,394,56,51.9
21,1996,3297,1046,252,315,37,117,367,265,391,432,61,52.6
22,1997,3176,1024,252,307,39,100,353,264,411,436,59,53.2
23,1998,3285,1044,254,311,42,99,375,256,397,416,60,53.9
24,1999,3279,1035,260,314,36,101,357,268,402,398,63,54.5
25,2000,3336,1012,253,298,37,138,357,261,409,435,63,55.1
26,2001,3363,1029,250,302,40,105,347,283,445,388,67,55.6
27,2002,3427,1048,249,310,38,112,345,299,440,390,66,56.1
28,2003,3390,1063,231,312,40,116,350,307,469,392,64,56.6
29,2004,3411,1037,238,289,39,110,347,309,478,414,66,57.1
30,2005,3450,1047,247,301,40,110,342,313,496,404,62,57.6
31,2006,3466,1045,264,290,41,109,345,315,469,426,63,58.0
32,2007,3527,1084,259,297,41,106,363,330,447,438,63,58.5
33,2008,3517,1061,249,292,42,104,356,318,481,447,64,59.0
34,2009,3515,1074,255,284,39,104,358,341,466,427,66,59.5
35,2010,3504,1079,232,292,39,100,365,332,485,424,65,59.9
36,2011,3538,1090,237,298,40,109,365,335,473,417,68,60.4
37,2012,3501,1061,243,287,39,108,357,328,461,443,70,60.9
38,2013,3499,1044,255,273,37,111,353,331,469,443,68,61.4